
@{
    ViewBag.Title = "Bienvenido";
}

<br /><br /><br /><br />
@if (Session["username"] != null)
{
    <h2>Bienvenido @Session["username"].ToString()</h2>
    <div>
        <p>Información importante que no deberías poder ver cambiando la dirección desde el navegador</p>
    </div>
}

<br /><br /><br /><br />
<p><a href="/Login/Index" class="btn btn-warning">Cerrar Sesión</a></p>

