@{
                /**/

                ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="/Content/estilo.css" />

<br /><br /><br /><br />
<center>
    <div class="cuadrostitulos">
        <h2 align="left" class="titulo">Acerca de</h2>
        <h3 class="titulo">Esta página brinda el servicio de registro a los diferentes campamentos de la IAFCJ.</h3>
        <br />
        <h3><b>Bases:</b></h3>
    </div>
</center>

<center>
    <div class="cuadros2">

        <center>
            <b>Adolescentes</b>
        </center>
        <br />
        <ol>
            <li>Se permiten tanto Hombres como Mujeres. </li>
            <li>Edad entre 12 y 15 años. </li>
        </ol>
    </div>

    <div class="cuadros2">
        <center>
            <b>Jóvenes</b>
        </center>
        <br />
        <ol>
            <li>Se permiten tanto Hombres como Mujeres. </li>
            <li>Edad entre 15-60 años. </li>
            <li>No estar Casado. </li>
        </ol>
    </div>

    <div class="cuadros2">
        <center>
            <b>Damas</b>
        </center>
        <br />
        <ol>
            <li>Solo Mujeres. </li>
            <li>Edad de 18-60 años. </li>
            <li>Estar Casada. </li>
        </ol>
    </div>

    <div class="cuadros2">
        <center>
            <b>Señores</b>
        </center>
        <br />
        <ol>
            <li>Solo Hombres. </li>
            <li>Edad de 18-60 años. </li>
            <li>Estar Casado. </li>
        </ol>
    </div>

</center>