@{
    /**/

    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="/Content/estilo.css" />


<br /><br /><br /><br />
<div>
    <h1 align="left" class="titulo">Acerca de</h1>
    <h3 class="titulo">Esta página brinda el servicio de registro a los diferentes campamentos de la IAFCJ.</h3>
    <br />
</div>

<div class="cajagrande">
    <div class="cuadros">
        <img src="@Url.Content("/Images/adolescentes.jpg")" width="100%">
        <p>Adolescentes</p>
        <p class="mensaje">
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Se permiten tanto Hombres
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; como Mujeres.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.Edad entre 12 y 15 años.
        </p>
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/jovenes.jpg")" width="100%">
        <p>J&oacute;venes</p>
        <p class="mensaje">
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Se permiten tanto Hombres
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; como Mujeres.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Edad entre 15-60 años.<br/>
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. No estar Casado.
        </p>
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/damas.jpg")" width="100%">
        <p>Damas</p>
        <p class="mensaje">
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Solo Mujeres.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Edad de 18-60 años.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Estar Casada.
        </p>
        <br />
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/senores.jpg")" width="100%">
        <p>Señores</p>
        <p class="mensaje">
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Solo Hombres.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Edad de 18-60 años.<br />
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Estar Casado.
        </p>
        <br />
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
