@{
    ViewBag.Title = "About";
}
<style type="text/css">
    body {
        margin: 0;
        background-color: #EFDACA;
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    }

    .titulo {
        color: #C89B6F;
    }
</style>

<br /><br /><br /><br />
<h2 class="titulo">@ViewBag.Title.</h2>
<h3 class="titulo">@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
