@{
    /**/

    ViewBag.Title = "Contact";
}

<link rel="stylesheet" type="text/css" href="/Content/estilo.css" />

<br /><br /><br /><br />
<h2 class="titulo">Contacto</h2>
<h3 class="titulo">Registro a Campamentos IAFCJ</h3>
<br /><br />
<div>
    <div class="img">
        <address>
            Av Castillo de Chapultepec 562, Tomás <br />
            Aquino, 22414 Tijuana, B.C.<br />
            <abbr title="Teléfono de México">Teléfono:</abbr>
            664.563.1425
        </address>

        <address>
            <strong>Soporte:</strong>  <a> CampamentosIAFCJ@gmail.com</a><br />
            <strong>Página oficial de IAFCJ: </strong><a href="http://www.iafcj.org">Visitar</a>
        </address>
    </div>

    <div class="boton">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.8814633984503!2d-116.9892186852104!3d32.529312703882056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94875e998f73f%3A0xeff5add64590b16f!2sAv+Castillo+de+Chapultepec+562%2C+Tomas+Aquino%2C+22414+Tijuana%2C+B.C.!5e0!3m2!1ses!2smx!4v1556829383355!5m2!1ses!2smx" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
