@{
                /**/

                ViewBag.Title = "Contact";
}

<link rel="stylesheet" type="text/css" href="/Content/estilo.css" />

<br /><br /><br /><br />
<h2 class="titulo">Contacto</h2>
<h3 class="titulo">Registro a Campamentos IAFCJ</h3>

<address>
    Av Castillo de Chapultepec 562, Tomás <br />
    Aquino, 22414 Tijuana, B.C.<br />
    <abbr title="Teléfono de México">Teléfono:</abbr>
    664.563.1425
</address>

<address>
    <strong>Soporte:</strong>  <a> CampamentosIAFCJ@gmail.com</a><br />
    <strong>Página oficial de IAFCJ: </strong><a href="http://www.iafcj.org">Visitar</a>
</address>

