@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="/Content/estilo.css" />

<br /><br /><br /><br />
<div class="cajagrande">
    <h1 class="titulo">Registro a Campamentos</h1>
    <div class="cuadros">
        <img src="@Url.Content("/Images/adolescentes.jpg")" width="100%">
        <p>Adolescentes</p>
        <p class="mensaje"><i>Mira que te mando que te esfuerces y seas valiente; no temas ni desmayes, porque Jehová tu Dios estará contigo en dondequiera que vayas.</i></p>
        <p class="cita">Josué 1:9</p>
        <a class="btn btn-primary fondobotones2" href="~/ValidarAdolescente/Index" role="button"><b>Registrar</b></a>
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/jovenes.jpg")" width="100%">
        <p>J&oacute;venes</p>
        <p class="mensaje"><i>Así que, somos embajadores en nombre de Cristo, como si Dios rogase por medio de nosotros; os rogamos en nombre de Cristo: Reconciliaos con Dios.</i></p>
        <p class="cita">2 Corintios 5:20</p>
        <a class="btn btn-primary fondobotones2" href="~/ValidarJoven/Index" role="button"><b>Registrar</b></a>
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/damas.jpg")" width="100%">
        <p>Damas</p>
        <p class="mensaje"><i>Pero esforzaos vosotros, y no desfallezcan vuestras manos; pues hay recompensa para vuestra obra.</i></p>
        <p class="cita">2 Crónicas 15:7 </p>
        <br />
        <a class="btn btn-primary fondobotones2" href="~/ValidarDama/Index" role="button"><b>Registrar</b></a>
    </div>
    <div class="cuadros">
        <img src="@Url.Content("/Images/senores.jpg")" width="100%">
        <p>Señores</p>
        <p class="mensaje"><i>Velad, estad firmes en la fe; portaos varonilmente, y esforzaos. Todas vuestras cosas sean hechas con amor.</i></p>
        <p class="cita">1 Corintios 16:13-14</p>
        <br />
        <a class="btn btn-primary fondobotones2" href="~/ValidarSenor/Index" role="button"><b>Registrar</b></a>
    </div>
</div>


<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
